<IfModule mod_rewrite.c>

    <Files ~ "(webpack.mix.js|README.md|composer.lock)">
        order allow,deny
        Deny from all
    </Files>

    <Files .*>
    Order Deny,Allow
    Deny from All
    </Files>

    RewriteEngine On
    RewriteRule ^(views)($|/) - [L]
    RewriteRule ^(.*)$ app.php [L]
</IfModule>

ErrorDocument 403 /framework-ions/var/templates/Exception/error.html.php